.layout {
    display: flex;
    justify-content: space-between;
}


.footer {
    margin-top: var(--space-5);
    font-size: var(--font-sm);
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

.nav {

    justify-content: space-between;
}

.scrollToTopIcon {
    font-family: "Zidan";
    color: green;
    font-size: 2rem;
}